In [1]:
import pymongo
import pandas as pd
from tqdm import tqdm
from langdetect import detect
tqdm.pandas()

In [2]:
import os
## mongo credentials from environment variables
credentials = {
'mongo_username': os.environ['MONGO_LINKEDIN_USERNAME'],
'mongo_password': os.environ['MONGO_LINKEDIN_PASSWORD']
}

In [3]:
mongo_db_config = {
"mongo_connect_url": "mongodb+srv://{}:{}@cluster0.dopto.mongodb.net/{}?retryWrites=true&w=majority",
"mongo_db": "linkedin_jobs",
"mongo_collection": "linkedin_jobs"
}

In [4]:
def get_mongo_client(config, credentials):
    mongo_collection = None
    mongo_client = pymongo.MongoClient(config['mongo_connect_url'].format(credentials['mongo_username'], credentials['mongo_password'], config['mongo_db']))
    mongo_db = mongo_client[config['mongo_db']]
    mongo_collection = mongo_db[config['mongo_collection']]
    try:
        mongo_client = pymongo.MongoClient(config['mongo_connect_url'].format(credentials['mongo_username'], credentials['mongo_password'], config['mongo_db']))
        mongo_db = mongo_client[config['mongo_db']]
        mongo_collection = mongo_db[config['mongo_collection']]
        print('connected...')
    except:
        print('erorr.')
    
    return mongo_collection

In [5]:
mongo_client = get_mongo_client(mongo_db_config, credentials)

connected...

In [6]:
results = mongo_client.find({})
results_count = results.count(True)
results_count

/Users/shahrukh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

17176

In [7]:
documents = list(results)

In [8]:
linkedin_jobs_df = pd.DataFrame(documents, columns=documents[0].keys())

In [9]:
linkedin_jobs_df.head()

,_id,job_title,description,location,employer_name,date_posted,n_applicants,seniority level_0,employment type_0,job function_0,industries_0,industries_1,industries_2
0,2443028046,Junior Data Engineer (f/m/d),All interviews will be done virtually via phon...,"Munich, Bavaria, Germany",Awin Global,<NOT_GIVEN>,0,Associate,Full-time,Information Technology,Marketing and Advertising,Internet,Staffing and Recruiting
1,2429945335,Freelance Data Analysis Mentors/Tutors (f/m/d),We created CareerFoundry to help others build ...,"Berlin, Berlin, Germany",CareerFoundry,<NOT_GIVEN>,0,Associate,Contract,Education,Education Management,NaN,NaN
2,2440360475,Data Scientist,Bayer ist ein weltweit tätiges Unternehmen mit...,"Berlin, Berlin, Germany",Bayer AG,2021-02-27,0,Entry level,Full-time,Engineering,Research,Biotechnology,Pharmaceuticals
3,2381340824,Senior Data Scientist,Direct message the job poster from xValue GmbH...,"Ratingen, North Rhine-Westphalia, Germany",xValue GmbH,2021-05-02,0,Associate,Full-time,NaN,Management Consulting,NaN,NaN
4,2440509349,Data Scientist (m/w/d) (Data Scientist),"Data Scientist (m/w/d)dotSource, das sind über...","Jena, Thuringia, Germany",dotSource GmbH,2021-02-27,0,Entry level,Full-time,Engineering,Information Technology and Services,Computer Software,Internet

In [10]:
linkedin_jobs_df.shape

(17176, 13)

In [14]:
def get_language(text):
    return detect(text)

In [15]:
linkedin_jobs_df['language'] = linkedin_jobs_df.description.progress_apply(get_language)

100%|██████████| 17176/17176 [03:46<00:00, 75.91it/s]

In [16]:
linkedin_jobs_df.head(30)

,_id,job_title,description,location,employer_name,date_posted,n_applicants,seniority level_0,employment type_0,job function_0,industries_0,industries_1,industries_2,language
0,2443028046,Junior Data Engineer (f/m/d),All interviews will be done virtually via phon...,"Munich, Bavaria, Germany",Awin Global,<NOT_GIVEN>,0,Associate,Full-time,Information Technology,Marketing and Advertising,Internet,Staffing and Recruiting,en
1,2429945335,Freelance Data Analysis Mentors/Tutors (f/m/d),We created CareerFoundry to help others build ...,"Berlin, Berlin, Germany",CareerFoundry,<NOT_GIVEN>,0,Associate,Contract,Education,Education Management,NaN,NaN,en
2,2440360475,Data Scientist,Bayer ist ein weltweit tätiges Unternehmen mit...,"Berlin, Berlin, Germany",Bayer AG,2021-02-27,0,Entry level,Full-time,Engineering,Research,Biotechnology,Pharmaceuticals,de
3,2381340824,Senior Data Scientist,Direct message the job poster from xValue GmbH...,"Ratingen, North Rhine-Westphalia, Germany",xValue GmbH,2021-05-02,0,Associate,Full-time,NaN,Management Consulting,NaN,NaN,de
4,2440509349,Data Scientist (m/w/d) (Data Scientist),"Data Scientist (m/w/d)dotSource, das sind über...","Jena, Thuringia, Germany",dotSource GmbH,2021-02-27,0,Entry level,Full-time,Engineering,Information Technology and Services,Computer Software,Internet,de
5,2429942591,Machine Learning Engineer for Text-to-Speech S...,We are oxoloTogether with an international tea...,"Hamburg, Hamburg, Germany",Oxolo,<NOT_GIVEN>,0,Entry level,Full-time,Other,Information Technology and Services,NaN,NaN,en
6,2404145179,UX Researcher,12traits is ushering in a new era of experienc...,"Berlin, Berlin, Germany",12traits,2021-07-02,51,Associate,Full-time,Information Technology,Information Technology and Services,Computer Software,Internet,en
7,2430617612,Data Scientist,Interessieren Sie sich für Algorithmen und Ana...,"Osnabrück, Lower Saxony, Germany",Brunel,2021-05-02,0,Associate,Full-time,Engineering,Electrical/Electronic Manufacturing,Information Technology and Services,Automotive,de
8,2427482092,Senior Data Scientist,Direct message the job poster from Optimus Sea...,"Nuremberg, Bavaria, Germany",Optimus Search,2021-02-27,0,Mid-Senior level,Full-time,Engineering,Information Technology and Services,NaN,NaN,en
9,2403371486,Lead Data Scientist,"Job Title:Lead Data ScientistSalary: €110,000 ...","Berlin, Berlin, Germany",Henlow Recruitment Group,2021-07-02,0,Associate,Full-time,Other,Information Technology and Services,Computer Software,Financial Services,en
10,2427962193,Data Engineer - Mainland Europe - Germany - Fr...,Do you want a job that throws a different chal...,"Frankfurt am Main, Hesse, Germany",InterWorks,2021-05-02,0,Entry level,Full-time,Information Technology,Information Technology and Services,Computer Software,Management Consulting,en
11,2411629138,Senior Data Scientist,"About LatanaWe are Latana, an innovative produ...","Berlin, Berlin, Germany",Latana Brand Tracking,2021-06-02,25,Associate,Full-time,Other,Marketing and Advertising,Computer Software,Internet,en
12,2415724976,Data Scientist - Bavaria - Retail,Job DescriptionTwenty Recruitment GmbH are cur...,"Bayreuth, Bavaria, Germany",Twenty Group,2021-06-02,58,Entry level,Full-time,Engineering,Information Technology and Services,Staffing and Recruiting,Financial Services,en
13,2403370519,Data Scientist,"Job Title:Data ScientistSalary: €75,000 - €100...","Berlin, Berlin, Germany",Henlow Recruitment Group,2021-07-02,0,Entry level,Full-time,Engineering,Information Technology and Services,Computer Software,Financial Services,en
14,2440465055,Data Scientist (w/m/d) (Data Scientist),Interessieren Sie sich für Algorithmen und Ana...,"Sankt Blasien, Baden-Württemberg, Germany",<NOT_GIVEN>,2021-02-27,0,Entry level,Full-time,Engineering,Information Technology and Services,Computer Software,Automotive,de
15,2415683404,Data Warehouse Engineer / Data Engineer (m/w/d...,Direct message the job poster from SHD System-...,"Dresden, Saxony, Germany",SHD System-Haus-Dresden GmbH,2021-02-24,0,Entry level,Full-time,Business Development,Information Technology and Services,NaN,NaN,de
16,2427483259,Senior Data Scientist,Direct message the job poster from AlldusAntho...,"Hamburg, Germany",Alldus,2021-02-27,0,Mid-Senior level,Full-time,Information Technology,Information Technology and Services,Computer Software,Marketing and Advertising,en
17,2365576688,Senior Software Test Engineer (m/w/d),"E-Bikes sind unsere E-Motion. Ob Trekking-, Ci...",NaN,Brose Group,2021-04-01,0,Associate,Full-time,Quality Assurance,Electrical/Electronic Manufacturing,Industrial Automation,Mechanical or Industrial Engineering,de
18,2437273361,Software Tester / Software Test Engineer / QA ...,UNSER AUFTRAGGEBER Wollen Sie sich einer neuen...,NaN,Ratbacher GmbH,2021-07-01,0,Entry level,Full-time,Quality Assurance,Information Technology and Services,Computer Software,Staffing and Recruiting,de
19,2398391379,Senior Software Engineer / Lead Engineer,"At Stealth Mode Company (Permanent), in Berlin...",NaN,<NOT_GIVEN>,2021-04-01,0,Associate,Full-time,Engineering,Information Technology and Services,Computer Software,Internet,de
20,2321950464,Software Test Engineer (m/w/d),Mobilität für Menschen - weltweit. Die Produkt...,NaN,Ottobock,2021-06-01,0,Entry level,Full-time,Quality Assurance,Information Technology and Services,Computer Software,Internet,de
21,2428476822,Android Software Development Engineer - Amazon...,DescriptionWe live in a connected world and Wi...,"Berlin, Berlin, Germany",Amazon,2021-07-01,0,Mid-Senior level,Full-time,Information Technology,Computer Software,Information Technology and Services,Internet,en
22,2425940614,Sales Consultant B2B Software (m/w/d),Deine StelleBei xentral ist Digitalisierung ni...,"Augsburg, Bavaria, Germany",xentral ERP Software,2021-02-24,0,Associate,Full-time,Sales,Marketing and Advertising,Information Technology and Services,Internet,de
23,2428458284,Software Development Engineer,DescriptionAre you inspired by building new te...,"Tübingen, Baden-Württemberg, Germany",Amazon,2021-07-01,0,Mid-Senior level,Full-time,Information Technology,Computer Software,Information Technology and Services,Internet,en
24,2423311763,Software Engineer,Industrial Physics is a multi-cultural environ...,NaN,<NOT_GIVEN>,2021-05-01,0,Entry level,Full-time,Engineering,Information Technology and Services,Industrial Automation,Computer Software,en
25,2434566683,Software Engineer,Sie denken in 0 und 1? Haben eine Affinität fü...,"Bremen, Bremen, Germany",Brunel,2021-04-01,0,Associate,Full-time,Engineering,Electrical/Electronic Manufacturing,Information Technology and Services,Automotive,de
26,2422859852,"Mobile Software Engineer, Senior",Direct message the job poster from FLEXOPTIX G...,"Darmstadt, Hesse, Germany",FLEXOPTIX GmbH,2021-02-23,0,Associate,Full-time,Engineering,Telecommunications,NaN,NaN,en
27,2435182722,Softwareentwickler (m/w/d),Als Software Engineer arbeitest du bei uns agi...,"Magdeburg, Saxony-Anhalt, Germany",bridgefield GmbH,2021-02-23,0,Entry level,Full-time,Engineering,Computer Software,NaN,NaN,de
28,2427432688,Senior Software Engineer,We are a Munich-based startup building intelli...,"Munich, Bavaria, Germany",tacto,2021-02-23,0,Associate,Full-time,Information Technology,Information Technology and Services,NaN,NaN,en
29,2436263585,Telesales Specialist,Direct message the job poster from Sinclair Ph...,"Heidelberg, Baden-Württemberg, Germany",Sinclair Pharma D-A-CH,2021-02-24,0,Entry level,Full-time,Sales,Pharmaceuticals,NaN,NaN,de

In [17]:
linkedin_jobs_df.shape

(17176, 14)

In [77]:
german_states = [x.lower() for x in ["Baden-Württemberg","Bavaria","Berlin","Brandenburg","Bremen","Hamburg","Hesse","Lower Saxony","Mecklenburg-Western","North Rhine-Westphalia","Rhineland-Palatinate","Saarland","Saxony","Saxony-Anhalt","Schleswig-Holstein","Thuringia"]]

In [90]:
def location_split(location):
    sp_list = [None] * 3
    if type(location) is not str:
        return sp_list
        
    sp_list = location.split(',')
    sp_list = [x.strip() for x in sp_list]
    while(len(sp_list)!=3):
        sp_list = [None] + sp_list
    if sp_list[1] and sp_list[1].lower().strip() not in german_states:
        sp_list[1] = None
    if sp_list[1] and 'ü' in sp_list[1]:
        sp_list[1] = sp_list[1].replace('ü','ue')
    return sp_list

In [91]:
linkedin_jobs_df[['city', 'state', 'country']] = pd.DataFrame([ location_split(x) for x in linkedin_jobs_df['location'].tolist()])

In [85]:
linkedin_jobs_df

,_id,job_title,description,location,employer_name,date_posted,n_applicants,seniority level_0,employment type_0,job function_0,industries_0,industries_1,industries_2,language,city,state,country
0,2443028046,Junior Data Engineer (f/m/d),All interviews will be done virtually via phon...,"Munich, Bavaria, Germany",Awin Global,<NOT_GIVEN>,0,Associate,Full-time,Information Technology,Marketing and Advertising,Internet,Staffing and Recruiting,en,Munich,Bavaria,Germany
1,2429945335,Freelance Data Analysis Mentors/Tutors (f/m/d),We created CareerFoundry to help others build ...,"Berlin, Berlin, Germany",CareerFoundry,<NOT_GIVEN>,0,Associate,Contract,Education,Education Management,NaN,NaN,en,Berlin,Berlin,Germany
2,2440360475,Data Scientist,Bayer ist ein weltweit tätiges Unternehmen mit...,"Berlin, Berlin, Germany",Bayer AG,2021-02-27,0,Entry level,Full-time,Engineering,Research,Biotechnology,Pharmaceuticals,de,Berlin,Berlin,Germany
3,2381340824,Senior Data Scientist,Direct message the job poster from xValue GmbH...,"Ratingen, North Rhine-Westphalia, Germany",xValue GmbH,2021-05-02,0,Associate,Full-time,NaN,Management Consulting,NaN,NaN,de,Ratingen,North Rhine-Westphalia,Germany
4,2440509349,Data Scientist (m/w/d) (Data Scientist),"Data Scientist (m/w/d)dotSource, das sind über...","Jena, Thuringia, Germany",dotSource GmbH,2021-02-27,0,Entry level,Full-time,Engineering,Information Technology and Services,Computer Software,Internet,de,Jena,Thuringia,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17171,2458824680,Data Driven Marketing Manager (m/w/d),Neu: Jetzt auch per Video bewerben Einfach im ...,"Augsburg, Bavaria, Germany",<NOT_GIVEN>,<NOT_GIVEN>,0,Associate,Full-time,Administrative,Information Technology and Services,Internet,Telecommunications,de,Augsburg,Bavaria,Germany
17172,2396544992,CRM Analyst,We’re looking for a CRM Analyst to dig into ou...,"Berlin, Berlin, Germany",SumUp,<NOT_GIVEN>,0,Associate,Full-time,Business Development,Computer Software,Human Resources,Financial Services,en,Berlin,Berlin,Germany
17173,2437999033,Data Scientist (w/m/d) mit Schwerpunkt mathema...,DEIN UMFELD UND TEAMDu glaubst an die Kraft vo...,"Münster, North Rhine-Westphalia, Germany",Westphalia DataLab,<NOT_GIVEN>,0,Entry level,Full-time,Information Technology,Information Technology and Services,Computer Software,Internet,de,Münster,North Rhine-Westphalia,Germany
17174,2459770304,Business Development Manager (Germany),Job PurposeTo provide day to day business deve...,"Frankfurt, Hesse, Germany",Indigo Telecom Group,<NOT_GIVEN>,0,Associate,Full-time,Sales,Construction,Staffing and Recruiting,Telecommunications,en,Frankfurt,Hesse,Germany
17175,2458154545,Business Intelligence Manager (m/f/d),"At Exporo AG (Permanent), in Hamburg, GermanyE...",Cologne Bonn Region,Exporo,<NOT_GIVEN>,0,Mid-Senior level,Full-time,Business Development,Internet,Financial Services,Real Estate,en,None,None,Cologne Bonn Region

In [93]:
linkedin_jobs_df.to_csv('linkedin_jobs.csv', index=False, encoding='utf-8')

In [92]:
linkedin_jobs_df.state.unique()

array(['Bavaria', 'Berlin', 'North Rhine-Westphalia', 'Thuringia',
       'Hamburg', 'Lower Saxony', 'Hesse', 'Baden-Wuerttemberg', 'Saxony',
       None, 'Bremen', 'Saxony-Anhalt', 'Schleswig-Holstein', 'Saarland',
       'Rhineland-Palatinate', 'Brandenburg'], dtype=object)